@using System.Diagnostics
@using Core.Models
@using ClientApp.Service
@using Microsoft.AspNetCore.Components.Forms
@inject IBooking bookingService

    
@inject IWindow windowService
@page "/AddBookingTEMP"
<h3>Midlertidig booking oprettelse</h3>


<EditForm Model="@booking"  OnValidSubmit="@HandleSubmit" class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="col-md-12 mb-3">
        <label for="Name">Interval Udenfor</label>
        <InputNumber id="Name" @bind-Value="booking.OutdoorInterval" class="form-control" />
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Name">Interval Indenfor</label>
        <InputNumber id="Name" @bind-Value="booking.InsideInterval" class="form-control" />
    </div>

    
    <div class="col-md-12 mb-3">
        <label for="Name">Noter</label>
        <InputText id="Name" @bind-Value="booking.NotesCustomer" class="form-control" />
    </div>
    
    
    <div class="col-md-12 mb-3">
        <label for="Category">Dag for pudsning</label>
        <InputSelect id="Category" @bind-Value="booking.Day"> 
            @foreach (var cat in daycategories)
            {
                <option value="@cat">@cat</option>
            }
        </InputSelect>
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Category">Booking type</label>
        <InputSelect id="Category" @bind-Value="booking.TypeBooking"> 
            @foreach (var cat in bookingcategories)
            {
                <option value="@cat">@cat</option>
            }
        </InputSelect>
    </div>
    
    <div class="form-check mb-3">
        <InputCheckbox id="Indenfor" @bind-Value="booking.InsideJob" class="form-check-input"/>
        <label class="form-check-label" for="Indenfor">
            Pudsning indenfor
        </label>
    </div>
    
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary" >Opret Booking</button>
        @if (windowlocationcategories != null){
            <div style="margin-bottom:20px;">
            @foreach (var windowlocation in windowlocationcategories)
            {
                    <button @onclick="() => SelectLocation(windowlocation)"
                            style="@(selectedLocation.Name == windowlocation.Name ? "font-weight:bold" : "")">
                        @windowlocation.Name 
                    </button>
            }
            </div> 
        }
    </div>
    <h3>@selectedLocation.Name</h3>

    @foreach (var w in booking.Windows.Where(x => x.Location.Name == selectedLocation.Name))
    {
        <span>@w.Location.Name</span>
    }
    
    <div style="display:flex; flex-wrap:wrap; gap:20px; margin-bottom:30px;">
        @foreach (var wc in windowCounts.Where(x => x.Location.Name == selectedLocation.Name))
        {
            <div style="text-align:center; width:120px;">
                <img src="@wc.Type.ImagePath" style="width:80px; height:auto;" />
                <div>@wc.Type.Name</div>

                <div style="margin-top:5px;">
                    <button type="button" @onclick="() => Decrease(wc)" disabled="@(wc.Count == 0)">-</button>
                    <span style="margin:0 10px;">@wc.Count</span>
                    <button type="button"@onclick="() => Increase(wc)">+</button>
                </div>
            </div>
        }
    </div>
    <div class="col-12 mb-3">
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>
    
    
</EditForm> 
<h3>Total: @totalPrice kr</h3>
    
@foreach (var loc in windowlocationcategories)
{
    <h4>@loc.Name</h4>

    @foreach (var wc in windowCounts.Where(x => x.Location == loc && x.Count > 0))
    {
        <div>
            @loc.Name: @wc.Count stk
        </div>
    }
}

<EditForm Model="@window" OnValidSubmit="@HandleWindowSubmit" class="row p-3">
            <DataAnnotationsValidator/>
            <ValidationSummary/>

            <div class="col-md-12 mb-3">
                <label for="Category">Vindue Type</label>
                <InputSelect id="Type" @bind-Value="window.Type">
                    @foreach (var type in windowtypecategories)
                    {
                        <option value="@type">@type.Name</option>
                    }
                </InputSelect>
            </div>

            <div class="col-md-12 mb-3">
                <label for="Category">Vindue lokation</label>
                <InputSelect id="Location" @bind-Value="window.Location">
                    @foreach (var location in windowlocationcategories)
                    {
                        <option value="@location">@location.Name</option>
                    }
                </InputSelect>
            </div>

            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-primary">Tilføj vindue</button>
            </div>

            <div class="col-12 mb-3">
                <button type="reset" class="btn btn-primary">Reset</button>
            </div>

        </EditForm>

    @code {

        private decimal totalPrice => booking.Windows.Sum(w => w.Price);
        
        private Booking booking = new();

        private WorkTask worktask = new()
        {
            Windows = new List<Window>()
        };

        private List<string> daycategories = new List<string> { "Mandag", "Tirsdag", "Onsdag", "Torsdag", "Fredag", "Lørdag", "Søndag" };

        private List<string> bookingcategories = new List<string> { "Abonnement", "Enkelt Booking" };

        private async Task HandleSubmit()
        {
            worktask.BookingId = booking.Id;
            worktask.InsideJob = booking.InsideJob;
            worktask.Date = new DateTime(2025, 12, 1, 14, 30, 0);
            worktask.Worker = new Worker
            {
                Username = "lucas",
                Password = "Lucas",
                Admin = true,
                Name = "lucas",
                PhoneNumber = "123123",
                Mail = "lucas@mail.com"
            };

            booking.CustomerId = "1";

            //Sets status to aktiv
            booking.Status = "afventer";
            Console.WriteLine("handle submit");

            //Sends the ready Booking object booking to BookingService
            bookingService.Add(booking);

            //Add Velux vindue håndtering
            //if (veluxwindow) {booking.InsideJob = true}

            //adding worktask when making booking, should maybe be different
            //worktaskService.Add(worktask);

            //Refreshes the current Booking object booking to prepare for new booking 
            booking = new Booking();

            worktask = new WorkTask
            {
                Windows = new List<Window>()
            };
        }

        private List<WindowType> windowtypecategories = new List<WindowType>();
        private List<WindowLocation> windowlocationcategories = new List<WindowLocation>();

        private Window window = new Window
        {
            Type = new WindowType(),
            Location = new WindowLocation(),
            Price = 12000
        };

        protected override async Task OnInitializedAsync()
        {

            windowtypecategories = await windowService.GetAllWindowTypes();
            windowlocationcategories = await windowService.GetAllWindowLocations();
            
            if (windowCounts == null || windowCounts.Count == 0)
            {
                windowCounts =
                    (from type in windowtypecategories
                        from loc in windowlocationcategories
                        select new WindowCount
                        {
                            Type = type,
                            Location = loc,
                            Count = 0
                        }).ToList();
            }

            booking.Windows ??= new List<Window>();
        }


        private async Task HandleWindowSubmit()
        {
            window.Price = window.CalculatePrice();
            booking.Windows.Add(window);
            worktask.Windows.Add(window);
            window = new Window();
            StateHasChanged();
        }

        public class WindowCount
        {
            public WindowType Type { get; set; }
            public WindowLocation Location { get; set; }
            public int Count { get; set; }
        }

        private List<WindowCount> windowCounts = new();

        private void Increase(WindowCount wc)
        {
            wc.Count++;

            var w = new Window
            {
                Type = wc.Type,
                Location = wc.Location
            };
            w.Price = w.CalculatePrice();

            booking.Windows.Add(w);
            StateHasChanged();
      
        }

        private void Decrease(WindowCount wc)
        {
            if (wc.Count <= 0) return;
            
                wc.Count--;

                var toRemove = booking.Windows
                    .LastOrDefault(w => w.Type == wc.Type && w.Location == wc.Location);

                if (toRemove != null)
                    booking.Windows.Remove(toRemove);
                
        }

        private WindowType selectedType = new WindowType();
        private WindowLocation selectedLocation = new WindowLocation();

private void SelectLocation(WindowLocation location)
{
    selectedLocation = location;
    StateHasChanged();
}

}
