@using System.Diagnostics
@using Core.Models
@using ClientApp.Service
@using Microsoft.AspNetCore.Components.Forms
@inject IBooking bookingService
@page "/AddBookingTEMP"
<h3>OpretAnnoncePage</h3>


<EditForm Model="@booking" Model="@worktask" OnValidSubmit="@HandleSubmit" class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="col-md-12 mb-3">
        <label for="Name">Overskrift</label>
        <InputNumber id="Name" @bind-Value="booking.OutdoorInterval" class="form-control" />
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Name">Overskrift</label>
        <InputNumber id="Name" @bind-Value="booking.InsideInterval" class="form-control" />
    </div>

    
    <div class="col-md-12 mb-3">
        <label for="Name">Beskrivelse</label>
        <InputText id="Name" @bind-Value="booking.NotesCustomer" class="form-control" />
    </div>
    
    <div class="col-md-6 mb-3">
        <label for="Price">Price</label>
        <InputNumber id="Price" @bind-Value="booking.Price" class="form-control" />
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Category">Category</label>
        <InputSelect id="Category" @bind-Value="booking.Day"> 
            @foreach (var cat in daycategories)
            {
                <option value="@cat">@cat</option>
            }
        </InputSelect>
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Category">Size</label>
        <InputSelect id="Category" @bind-Value="booking.TypeBooking"> 
            @foreach (var cat in bookingcategories)
            {
                <option value="@cat">@cat</option>
            }
        </InputSelect>
    </div>
    
    <div class="form-check mb-3">
        <InputCheckbox id="Indenfor" @bind-Value="booking.InsideJob" class="form-check-input" />
        <label class="form-check-label" for="Indenfor">
            Pudsning indenfor
        </label>
    </div>
    
        
    <div class="col-md-6 mb-3">
        <label for="Day">Date & Time</label>
        <input type="datetime-local" id="Day" class="form-control"
               @bind="worktask.Date"
               @bind:format="yyyy-MM-ddTHH:mm" />
    </div>
    
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary" >Opret Booking</button>
    </div>
    
    <div class="col-12 mb-3">
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>
    
</EditForm> 

@code {
    
    private Booking booking = new();
    
    private WorkTask worktask = new();
    
    private Window window = new Window
    {
        Type = Window.WindowType.Type1,      
        Location = Window.WindowLocation.StueEtage,
        Pris = 12000               
    };

    
    private List<string> daycategories = new List<string> { "Mandag","Tirsdag","Onsdag","Torsdag","Fredag","Lørdag","Søndag" };
    
    private List<string> bookingcategories = new List<string> { "Abonnement", "Enkelt Booking"};

    
    protected override async Task OnInitializedAsync()
    {
    }

    
    private async Task HandleSubmit()
    {
        worktask.BookingId = booking.BookingId;
        worktask.InsideJob = booking.InsideJob;
        worktask.Worker = new Worker
        {
            Username = "lucas",
            Password = "Lucas",
            Admin = true,
            Name = "lucas",
            PhoneNumber = "123123",
            Mail = "lucas@mail.com"
        };
        
        booking.Windows.Add(window);
        worktask.Windows.Add(window);
        booking.CustomerId = "1";
        
        //Sets status to aktiv
        booking.Status = "afventer";
        Console.WriteLine("handle submit");
        
        //Sends the ready Booking object booking to BookingService
        bookingService.Add(booking);
        
        //Add Velux vindue håndtering
        //if (veluxwindow) {booking.InsideJob = true}
        
        //Refreshes the current Booking object booking to prepare for new booking 
        booking = new Booking();
        worktask = new WorkTask();
    }
    
}