@using System.Diagnostics
@using Core.Models
@using ClientApp.Service
@using Microsoft.AspNetCore.Components.Forms
@inject IWindow windowService
@page "/AddWindowTEMP"
<h3>Midlertidig window oprettelse</h3>


<EditForm Model="@window"  OnValidSubmit="@HandleWindowSubmit" class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="col-md-12 mb-3">
        <label for="Category">Vindue Type</label>
        <InputSelect id="Type" @bind-Value="window.Type">
            @foreach (var type in windowtypecategories)
            {
                <option value="@type">@type.GetLabel()</option>
            }
        </InputSelect>
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Category">Vindue lokation</label>
        <InputSelect id="Location" @bind-Value="window.Location">
            @foreach (var location in windowlocationcategories)
            {
                <option value="@location">@location.GetLabel()</option>
            }
        </InputSelect>
    </div>
    
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary" >Opret Window</button>
    </div>
    
    <div class="col-12 mb-3">
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>
    
</EditForm> 

@code {

    private List<WindowType> windowtypecategories = Enum.GetValues<WindowType>().ToList();
    private List<WindowLocation> windowlocationcategories = Enum.GetValues<WindowLocation>().ToList();
    WindowType windowtypes;
    WindowLocation windowlocations;
    
    private Window window = new Window
    {
        Type = WindowType.Dannebrog,     
        Location = WindowLocation.FoersteEtage,
        Price = 12000               
    };
    
    protected override async Task OnInitializedAsync()
    {
        
    }

    
    private async Task HandleWindowSubmit()
    {
        window.Price = window.CalculatePrice();
        windowService.Add(window);
        window= new Window();    
    }
    
}