@using System.Diagnostics
@using System.Text.Json
@using Blazored.LocalStorage
@using ClientApp.Components
@using Core.Models
@using ClientApp.Service
@using Microsoft.AspNetCore.Components.Forms
@inject IBooking bookingService
@inject IUser userService
@inject UserState userState
@inject ILocalStorageService localStorage
@inject NavigationManager nav
@page "/AdminAddBooking"

<div class="page-header">
    <h1 class="page-title">Admin kunde og booking oprettelse</h1>
    <p class="page-subtitle">Opret kunde og tilføj booking på samme tid</p>
</div>
<CustomerForm customer="customer" ButtonText="Opret Kunde" OnSubmit="HandleCustomerSubmit" />

@if (customer != null)
{
    <p class="page-subtitle">Nuværende kunde:</p>
    <h3>@customer.Name</h3>
}

<WindowPriceCalculator Booking="@booking" OnSelectBookingType="HandleBookingType" />

@if (showSubscriptionModal)
{
    <div class="modal d-block" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5>Opret abonnement</h5>
                    <button class="btn-close" @onclick="() => showSubscriptionModal = false"></button>
                </div>

                <div class="modal-body">

                    <EditForm Model="@booking" OnValidSubmit="@HandleSubscriptionSubmit" class="row p-3">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="col-md-12 mb-3">
                            <label>Uge interval udenfor:</label>
                            <InputSelect @bind-Value="booking.OutdoorInterval">
                                @foreach (var cat in intervalcategories)
                                {
                                    <option value="@cat">@cat</option>
                                }
                            </InputSelect>
                        </div>
                        
                        <div class="col-md-12 mb-3">
                            <label>Uge interval indenfor:</label>
                            <InputSelect @bind-Value="booking.InsideInterval">
                                @foreach (var cat in intervalcategories)
                                {
                                    <option value="@cat">@cat</option>
                                }
                            </InputSelect>
                        </div>

                        @if (booking.InsideJob)
                        {
                            <div class="col-md-12 mb-3">
                                <label>Uge interval indenfor:</label>
                                <InputSelect @bind-Value="booking.InsideInterval">
                                    @foreach (var cat in intervalcategories)
                                    {
                                        <option value="@cat">@cat</option>
                                    }
                                </InputSelect>
                            </div>
                        }

                        <div class="col-md-12 mb-3">
                            <label>Dag:</label>
                            <InputSelect @bind-Value="booking.Day">
                                @foreach (var d in daycategories)
                                {
                                    <option value="@d">@d</option>
                                }
                            </InputSelect>
                        </div>
                        
                        <div class="col-md-12 mb-3">
                            <label>Noter</label>
                            <InputText class="form-control" @bind-Value="booking.NotesCustomer" />
                        </div>
                        

                        <button type="submit" class="btn btn-primary">Opret abonnement</button>
                    </EditForm>

                </div>

            </div>
        </div>
    </div>
}

@if (showOneTimeModal)
{
    <div class="modal d-block" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5>Enkeltbooking</h5>
                    <button class="btn-close" @onclick="() => showOneTimeModal = false"></button>
                </div>

                <div class="modal-body">

                    <KalenderComponentv2 />

                    <EditForm Model="@booking" OnValidSubmit="@HandleOneTimeSubmit" class="mt-3">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        
                        <div class="mb-3">
                            <label>Noter</label>
                            <InputText class="form-control" @bind-Value="booking.NotesCustomer" />
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Opret enkeltbooking</button>
                    </EditForm>

                </div>

            </div>
        </div>
    </div>

}

@code {
    
    private Booking booking = new();
    
    private bool showOneTimeModal = false;
    private bool showSubscriptionModal = false;
    private List<int> intervalcategories = new() { 2, 4, 8, 12, 24 };
    private List<string> daycategories = new() { "Mandag","Tirsdag","Onsdag","Torsdag","Fredag","Lørdag","Søndag" };
    
    private async Task HandleSubscriptionSubmit()
    {
        Console.WriteLine(customer.Id);
        
        booking.CustomerId = customer.Id;

        booking.TypeBooking = Booking.BookingType.Abonnement;
        booking.Status = "afventer";

        // await så kaldet fuldføres før vi lukker modal / nulstiller
        await bookingService.Add(booking);

        // ryd pending og luk modal
        showSubscriptionModal = false;
        booking = new Booking();
        customer = new Customer();
    }

    private async Task HandleOneTimeSubmit()
    {
        Console.WriteLine(customer.Id);
       
        booking.CustomerId = customer.Id;

        booking.TypeBooking = Booking.BookingType.EnkeltBooking;
        booking.Status = "afventer";

        await bookingService.Add(booking);
        
        showOneTimeModal = false;
        booking = new Booking();
        customer = new Customer();
    }
    
    protected override async Task OnInitializedAsync()
    {
        if (userState.CurrentUser?.Usertype != User.UserType.Worker)
        {
            nav.NavigateTo("/notallowed", true);
        }
    }
    
    private Customer customer = new Customer();

    private async Task HandleCustomerSubmit()
    {
        Console.WriteLine("customer submitted:" + customer.Id);
        customer.Usertype = User.UserType.Customer;
        await userService.Add(customer);
    }
    
    private async Task HandleBookingType(string type)
    {
        if (type == "Enkelt")
            showOneTimeModal = true;

        if (type == "Abonnement")
            showSubscriptionModal = true;
    }
    
}