@using ClientApp.Service
@using Core.Models
@inject IWindow windowService
@inject UserState userState
@page "/ChangeWindowsAndPricing"
<h3>Ændrer vinduer og pris</h3>


<button @onclick="Modal">Opdater vinduer</button>
    
@if (showModal)
{
    <div class="modal-overlayv2" @onclick="CloseModal">
            
        <div class="modal-windowv2" @onclick:stopPropagation="true">
            <h1>Opdater vindue infomation</h1>
            
            <EditForm Model="@windowtype" OnValidSubmit="@HandleWindowTypeSubmit" class="row p-3">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <div class="col-md-12 mb-3">
        <label for="Category">Type navn</label>
        <div class="col-md-12 mb-3">
            <InputText id="Name" @bind-Value="windowtype.Name" class="form-control" />
        </div>
    </div>

    <div class="col-md-12 mb-3">
        <label for="Category">Basis pris</label>
        <div class="col-md-12 mb-3">
            <InputNumber id="price" @bind-Value="windowtype.BasePrice" class="form-control" />
        </div>
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="Category">image path (senere opret)</label>
        <div class="col-md-12 mb-3">
            <InputText id="imagepath" @bind-Value="windowtype.ImagePath" class="form-control" />
        </div>
    </div>


    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Tilføj Vinduestype</button>
    </div>

    <div class="col-12 mb-3">
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>

</EditForm>


<EditForm Model="@windowlocation" OnValidSubmit="@HandleWindowLocationSubmit" class="row p-3">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="col-md-12 mb-3">
        <label for="Category">Type navn</label>
        <div class="col-md-12 mb-3">
            <InputText id="Name" @bind-Value="windowlocation.Name" class="form-control" />
        </div>
    </div>

    <div class="col-md-12 mb-3">
        <label for="Category">Basis pris</label>
        <div class="col-md-12 mb-3">
            <InputNumber id="price" @bind-Value="windowlocation.ExtraPrice" class="form-control" />
        </div>
    </div>

    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Tilføj Vindueslokation</button>
    </div>

    <div class="col-12 mb-3">
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>

</EditForm>

@if (!userState.IsWorker)
{
    <p>You are not allowed here. (not a worker)</p>
}

<table class="table table-striped table-bordered align-middle">
    <thead class="table-light">
    <tr>
        <th>Navn</th>
        <th>Pris(multiplier/added)</th>
        <th>Aktiv?</th>
    </tr>
    </thead>

    <tbody>
    @if (windowlocations != null)
    {
        @foreach (var location in windowlocations)
        {
            <tr>
                <td>@location.Name</td>
                <td>@location.ExtraPrice</td>
                <td>@location.IsActive</td>
            </tr>
        }
    }
    </tbody>
</table>

<table class="table table-striped table-bordered align-middle">
    <thead class="table-light">
    <tr>
        <th>Navn</th>
        <th>Basis Pris</th>
        <th>Aktiv?</th>
        <th>Imagepath</th>
    </tr>
    </thead>

    <tbody>
    @if (windowtypes != null)
    {
        @foreach (var location in windowtypes)
        {
            <tr>
                <td>@location.Name</td>
                <td>@location.BasePrice</td>
                <td>@location.IsActive</td>
                <td>@location.ImagePath</td>
            </tr>
        }
    }
    </tbody>
</table>

            <button class="close-btn" @onclick="CloseModal">
                Luk
            </button>
        </div>
    </div>
    

@code {

    private WindowType windowtype = new WindowType();
    private WindowLocation windowlocation = new WindowLocation();

    private List<WindowLocation> windowlocations = new List<WindowLocation>();
    private List<WindowType> windowtypes = new List<WindowType>();

    private async Task HandleWindowTypeSubmit()
    {
        windowtype.IsActive = true;
        await windowService.AddType(windowtype);
        windowtypes.Add(windowtype);
        windowtype = new WindowType();
    }
    
    private async Task HandleWindowLocationSubmit()
    {
        windowlocation.IsActive = true;
        await windowService.AddLocation(windowlocation);
        windowlocations.Add(windowlocation);
        windowtype = new WindowType();
    }

    protected override async Task OnInitializedAsync()
    {
       windowlocations = await windowService.GetAllWindowLocations();
       windowtypes = await windowService.GetAllWindowTypes();
    }
    
    bool showModal = false;

    private void Modal()
    {
        showModal = true;
    }

    private void CloseModal()
    {
        showModal = false;
    }

}
}