@page "/PriceCalculator"
@using ClientApp.Components
@using Core.Models

@inject IWindow windowService
@page "/PriceCalculator"
<h3>Price Calculator</h3>

    
<EditForm Model="@booking"  class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary" >Opret Booking</button>
        @if (windowlocationcategories != null){
            <div style="margin-bottom:20px;">
                @foreach (var windowlocation in windowlocationcategories)
                {
                    <button @onclick="() => SelectLocation(windowlocation)"
                            style="@(selectedLocation.Name == windowlocation.Name ? "font-weight:bold" : "")">
                        @windowlocation.Name 
                    </button>
                }
            </div> 
        }
    </div>
    
    <h3>@selectedLocation.Name</h3>

    @foreach (var w in booking.Windows.Where(x => x.Location == selectedLocation))
    {
        <span>@selectedType.Name</span>
    }
    
    <div style="display:flex; flex-wrap:wrap; gap:20px; margin-bottom:30px;">
        @foreach (var wc in windowCounts.Where(x => x.Location == selectedLocation))
        {
            <div style="text-align:center; width:120px;">
                <img src="@wc.Type.ImagePath" style="width:80px; height:auto;" />
                <div>@wc.Type.Name</div>
                
                <div style="margin-top:5px;">
                    <button type="button" @onclick="() => Decrease(wc)" disabled="@(wc.Count == 0)">-</button>
                    <span style="margin:0 10px;">@wc.Count</span>
                    <button type="button"@onclick="() => Increase(wc)">+</button>
                </div>
            </div>
        }
    </div>
    
</EditForm> 
<h3>Total: @totalPrice kr</h3>
    
@foreach (WindowLocation loc in windowlocationcategories)
{
    <h4>@loc.Name</h4>
    @foreach (var wc in windowCounts.Where(x => x.Location == loc && x.Count > 0))
    {
        <div>
            @wc.Type.Name: @wc.Count stk
        </div>
    }
}

@code {
    
    private List<WindowType> windowtypecategories = new List<WindowType>();
    private List<WindowLocation> windowlocationcategories = new List<WindowLocation>();
    
    private decimal totalPrice => booking.Windows.Sum(w => w.Price);
    private Booking booking = new();
        
    protected override async Task OnInitializedAsync()
    {
        windowtypecategories = await windowService.GetAllWindowTypes();
        windowlocationcategories = await windowService.GetAllWindowLocations();
        
        if (windowCounts == null || windowCounts.Count == 0)
        {
            windowCounts =
                    (from type in windowtypecategories
                        from loc in windowlocationcategories
                        select new WindowCount
                        {
                            Type = type,
                            Location = loc,
                            Count = 0
                        }).ToList();
        }
            
        }
        public class WindowCount
        {
            public WindowType Type { get; set; }
            public WindowLocation Location { get; set; }
            public int Count { get; set; }
        }

        private List<WindowCount> windowCounts = new();

        private void Increase(WindowCount wc)
        {
            wc.Count++;
            var w = new Window
            {
                Type = wc.Type,
                Location = wc.Location
            };
            w.Price = w.CalculatePrice();
            booking.Windows.Add(w);
            StateHasChanged();
      
        }

        private void Decrease(WindowCount wc)
        {
            if (wc.Count <= 0) return;
            
                wc.Count--;

                var toRemove = booking.Windows
                    .LastOrDefault(w => w.Type == wc.Type && w.Location == wc.Location);

                if (toRemove != null)
                    booking.Windows.Remove(toRemove);
                
        } 
        private WindowType selectedType = new WindowType();
        private WindowLocation selectedLocation = new WindowLocation();

        private void SelectLocation(WindowLocation loc)
        {
            selectedLocation = loc;
         
}

}
